/* body {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #f0f8ff;
    background: url(./media/survey-form-background.jpeg) no-repeat center fixed;
    background-size: cover;
    background-color: rgb(88, 88, 155);
    line-height: 4px;
    z-index: -1;
}
.image-overlay {
    /* margin-top: ; */
    height: 100%;
    width: 100%;
    background-color: rgb(89, 16, 156, 0.5);
    background-size: cover;
    z-index: 4;
}
header {
    margin: 4em;
}
#title {
    font-size: 2em;
    letter-spacing: 0.5px;
    font-weight: 550;
    margin-bottom: 1em;
}
#description {
    font-weight: lighter;
    font-style: italic;
}
#survey-form {
    background-color: #272745;
    margin-left: 20em;
    margin-right: 20em;
    border-radius: 5px;
    text-align: left;
    padding: 4rem 3rem;
    font-size: 20px;
    line-height: 30px;
}
input, select, textarea {
    color: rgb(145, 145, 145);
    border-radius: 5px;
    font-size: 90%;
    padding: 0.6em 1em;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
input[type=radio], input[type=checkbox] {
    width: auto;
    margin: 14px;
}
#submit {
    background-color: #37af65;
    color: white;
}