
* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100vw;
    text-align: center;
    color: #f0f8ff;
    background: linear-gradient(0deg, rgb(89, 16, 156, 0.5), rgb(89, 16, 156, 0.5)), url(./media/survey-form-background.jpeg) no-repeat center fixed;
    background-size: cover;
    background-color: rgb(88, 88, 155);
    line-height: 4px;
    z-index: -1;
    padding-top: 3em;
}
/* was checking this out */
/* .image-overlay {
    /* margin-top: ; */
    /* height: 100%;
    width: 100%;
    background-color: rgb(89, 16, 156, 0.5);
    background-size: cover;
    z-index: 4; */
/* } */
header {
    margin: 4em;
}
#title {
    font-size: 2em;
    letter-spacing: 0.5px;
    font-weight: 550;
    margin-bottom: 1em;
}
#description {
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 1em;
}
#survey-form {
    background-color: #272745;
    width: 50%;
    margin: auto;
    /* margin-left: 20em;
    margin-right: 20em; */
    border-radius: 5px;
    text-align: left;
    padding: 4rem 3rem;
    font-size: 20px;
    line-height: 30px;
}
input, select, textarea {
    color: rgb(145, 145, 145);
    border-radius: 5px;
    font-size: 85%;
    padding: 0.4em 1em;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
input[type=radio], input[type=checkbox] {
    width: auto;
    margin: 14px;
}
#submit {
    background-color: #37af65;
    color: white;
    border: none;
    cursor: pointer;
}